@charset "UTF-8";

body {
	background-color:#CCCCCC;
	font-family:"ヒラギノ角ゴ Pro", "メイリオ", "ＭＳ ゴシック", Verdana, Arial, sans-serif;
	font-size:16px;
	margin:0 0;
}
h1, h2, h3 {
	font-weight:400;
	color:#000000;
	margin:0;
}
h1 {
	font-size:22px;
}
h2 {
	font-size:18px;
}
p, ul, ol {
	margin-top:0;
	line-height:140%;
	text-align: inherit;
}
a {
	color:#639CBF;
	text-decoration:none;
}
.list1 li {
	float:left;
	line-height:normal;
}
.list1 li img {
	margin:0 30px 30px 0;
}
.list1 li.alt img {
	margin-right:0;
}
#ul {
	list-style:none;
	line-height:normal;
	margin:0;
	padding:0;
}
#li {
	margin-bottom:0;
	padding:0 0 10px;
}
#li ul {
	margin:0;
}
#li {
	background:url(images/bullet.jpg) no-repeat left 13px;
	border-bottom:1px solid #E0E0E0;
	margin:10px;
	padding:10px 0;
}
#li a {
	font-weight:400;
	padding:0 0 0 20px;
	text-decoration:none;
}
#li a:hover {
	font-weight:420;
	color:#666;
	text-decoration:none;
}

header {
	width:1000px;
	height:70px;
	background:#ffffff;
	font-size:12px;
	text-align:left;
	margin:0;
	padding:0 30px 0 0;
}

header a {
	color:#cc4125;
}
header a:hover {
	color:#dd9075;
}

ul.header-col {
	width:100%;
	height: 40px;
	list-style:none;
	line-height:32px;
	margin:0;
	padding:0;
	border-bottom:1px solid #cc4125;
}

.header-col li {
	float:left;
	height:32px;
	margin:0;
	padding:0;
	color:#cc4125;
}

.header-col li.title {
	font-size:22px;
}

.header-col li.logo {
	margin:0 30px 0 0;
}

.header-col li.site-name {
	float:right;
	font-size:10px;
}

#page {
	width:1000px;
	background:#FFFFFF;
	margin:0 auto;
	padding:30px;
}
#content {
	float:right;
	width:760px;
	background:#FFF;
	margin:0;
	padding:10px;
}

#content h2 {
	width:740px;
	height:25px;
	margin:0 0 10px;
	padding:6px 0 2px;
	line-height:25px;
	font-size:18px;
	font-weight:400;
	color:#cc4125;
	text-indent: 10px;
	border-bottom:1px solid #cc4125;
}

#left {
	float:left;
	width:400px;
	margin-left:2px;
	padding: 0px 10px 30px 0px;
	display:inline;
}


#right {
	float:right;
	width:200px;
	padding: 0px 20px 20px 20px;
	margin-top:10px;
	border-left: #FFF 2px solid;

}



#sidebar {
	float:left;
	width:200px;
	font-size:12px;
	background:#FFF;
}
#sidebar ul {
	list-style:none;
	line-height:normal;
	margin:0;
	padding:0;
}
#sidebar li {
	margin-bottom:20px;
	padding:0 0 10px;
}
#sidebar li ul {
	margin:0;
}
#sidebar li li {
	display:block;
	height:2.5em;
	line-height:2.5em;
	border-bottom:1px dashed #cc4125;
	margin:0;
	padding:2px;
}
#sidebar li li a {
	display:block;
	width:100%;
	height:2.5em;
	line-height:2.5em;
	font-weight:400;
	text-indent:15px;
	padding:0;
	color:#333;
}
#sidebar li li a:hover {
	background:#ffefef;
}
#sidebar li li.selected a {
	background:#ffefef;
}

#sidebar p {
	line-height:10%;
	margin:0;
	padding:0 14px;
}
#sidebar h2 {
	height:25px;
	line-height:25px;
	font-size:14px;
	font-weight:400;
	color:#cc4125;
	text-indent: 10px;
	margin:0 0 10px;
	padding:6px 0 2px;
	background:#ea9999;
}
#sidebar a {
	text-align:left;
	text-decoration:none;
	color:#666;
}
footer {
	width:1000px;
	height:20px;
	background:#fff;
	margin:1px auto;
	padding:10px;
}
footer p {
	text-align:left;
	font-size:14px;
	color:#cc4125;
	margin:5px;
	border:0px;
	padding:0px;
}
footer a {
	color:#cc4125;
	text-align:left;
	text-decoration:none;
}
footer a:hover {
	color:#dd9075;
	text-align:left;
	text-decoration:none;
}
footer div {
	border-top:1px solid #cc4125;
}

img {
	border:0;
	margin-top:.0em;
}

ul.two-column-table {
	margin:0;
	padding-left:20px;;
}

.two-column-table li {
	list-style:none;
	width:700px;
	height:30px;
	clear:both;
}

.two-column-table dl {
	font-size:12px;
}

.two-column-table dl dt {
	float:left;
	width:160px;
	height:25px;
	line-height:25px;
	padding:5px;
	background:#f3f3f3;
}

.two-column-table dl dd {
	float:left;
	width:300px;
	height:25px;
	line-height:25px;
}

table.list {
	font-size: 12px;
	border: 1px solid #eee;
	border-collapse: collapse;
	width:730px;
	margin:20px 0 0 10px;
}
table.list th.t_top {
	border-top: #d5759e 4px solid;
}
table.list th {
	background: #eee;
	border-bottom: #e3e3e3 1px dotted;
	text-align: left;
	padding: 5px;
	font-weight: normal;
}
table.list td.t_top {
	border-top: #ccc 4px solid;
}
table.list td {
	border-bottom: #e3e3e3 1px dotted;
	text-align: left;
	padding: 10px;
}

table.list td input {
	width:280px;
}

div.button-line {
	display:block;
	padding:20px;
	text-align:center;
}

