<head>
  <meta charset="UTF-8">
  <title>GRUMAYOR 管理ツール</title>
</head>

<body>
  {{> page}}
</body>

<template name="page">
<div id="page">
  {{> header }}
  {{> test }}
  {{> sidebar }}
  {{> footer }}
</div>
</template>


<template name="header">
<header>
  <ul class="header-col">
    <li class="logo"><a href="/"><img src="images/icon.png" width="32" height="32" alt="icon" /></a></li>
    <li class="title">{{title}}</li>
    <li class="site-name"><a href="/">グルメイヤー 管理</a></li>
  </ul>
</header>
</template>


<template name="test">
<div id="content">

  <div class="post">
    <h2>{{title}}</h2>

    <div>
      <table class="list">
        <tr>
          <th class="t_top" id="theme_id">1</th>
          <td class="t_top"><input type="text" id="theme_text" name="theme_text" value="{{theme}}" /></td>
        </tr>
      </table>
    </div>

    <div class="button-line">
      <input type="button" id="save" name="save" value="保存" />
    </div>

  </div>
</div>
</template>

<template name="sidebar">
<div id="sidebar">
  <ul>
    <li>
      <h2>お知らせ設定</h2>
      <ul>
         <!-- 選択時 <li class="selected"><a href="#">グルメイヤーのお知らせ</a></li> -->
         <li><a href="#">グルメイヤーのお知らせ</a></li>
         <li><a href="#">デカグラフのお知らせ</a></li>
      </ul>
    </li>

    <li>
      <h2>運営メニュー</h2>
      <ul>
         <li><a href="#">今日の三ツ星</a></li>
         <li><a href="#">トピックス設定</a></li>
         <li><a href="#">キャンペーン設定</a></li>
      </ul>
    </li>

    <li>
      <h2>データ管理</h2>
      <ul>
         <li><a href="#">店舗の追加</a></li>
         <li><a href="#">店舗の更新／削除</a></li>
         <li><a href="#">写真一覧</a></li>
      </ul>
    </li>

  </ul>

</div>
</template>

<template name="footer">
<div style="clear: both;">&nbsp;</div>
  <footer><div><p><a href="/">GRUMAYOR admin_tool </a></p></div>
  </footer>
</div>
</template>

